.modals_wrapper {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 999;
}

.modal_clickout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	animation: fade-in var(--time-active) linear;
	pointer-events: auto;
}

.modal_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	& .modal_content {
		align-items: left;
		pointer-events: auto;
		padding: 1em;
		max-width: 90vw;
		max-height: 85vh;
		overflow: auto;
		background-color: var(--theme-primary);
		border-radius: var(--theme-border-radius);
		& p {
			max-width: 80ch;
			margin-bottom: 0.5em;
		}
		& h2 {
			margin-top: 0.5em;
		}
	}
}