nav.toolbar {
	width: 100%;
	background-color: hsla(var(--theme-interact-hsl), 0.1);
	padding: 0.2rem 0.5rem;
	& ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		& li {
			padding: 0 0.5rem;
			& button::before {
				border-width: 0;
			}
		}
	}
}