nav {
	width: 100%;
	background-color: #333;
	padding: 0.2rem 0.5rem;
	margin-bottom: 2rem;
	& ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		& li {
			padding: 0 0.5rem;
			& button {
				background-color: transparent;
			}
		}
	}
}