.dbItemPanel_clickout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	animation: fade-in var(--time-active) linear;
}

.dbItemPanel_wrapper {
	display: flex;
	position: fixed;
	height: 100vh;
	--panelMaxWidth: 80vw;
	--padding-edge: 0.5rem;
	max-width: var(--panelMaxWidth);
	width: 50em;
	right: 0;
	top: 0;
	background-color: #141c27;
	flex-direction: column;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: -1rem 0 1rem #000;
	animation: slide-in-right var(--time-active) linear;
	z-index: 999;
	&::before {
    content: "";
    position: fixed;
    top: 0;
		left: 0;
    right: 0;
		bottom: 0;
		z-index: -1;
    display: block;
		pointer-events: none;
		background: radial-gradient(circle at 0%, transparent 20%, #0f161f 60%);
		mask: var(--noise), radial-gradient(circle at 0%, transparent 30%, #000 75%);
	}
	&::after {
		content: "";
		position: fixed;
		height: 5em;
		width: 100%;
		bottom: 0;
		z-index: 1;
		display: block;
		pointer-events: none;
		background: linear-gradient(transparent, #0f161f 60%);
		mask: var(--noise), linear-gradient(transparent, #000 80%);
	}
	& .item-meta_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: left;
		padding: 0 var(--padding-edge);
		margin-bottom: 1em;
		& .attribute {
			font-size: 0.8em;
			font-weight: normal;
		}
		& .item-badges {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;
			align-items: center;
			font-size: 0.9em;
			gap: 1em;
			margin-bottom: 0.5em;
			& .badge {
				display: flex;
				flex-direction: row;
				justify-content: left;
				align-items: center;
				gap: 0.25em;
				& .badge-icon {
					--length: 1.5em;
					min-width: var(--length);
					min-height: var(--length);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					opacity: 0.5;
					vertical-align: center;
				}
				& .badge-svg {
					--length: 1.5em;
					--path: attr(data-icon);
					width: var(--length);
					height: var(--length);
					/* background-color: #fff; */
					/* mask: url("assets/icons.svg#close-x"); */
					opacity: 0.5;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}
	& .item-info_wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		row-wrap: wrap;
		justify-content: space-between;
		padding: 0 var(--padding-edge) 1rem;
		& .modified-info_wrapper {
			display: flex;
			flex-direction: row;
			justify-content: right;
			align-items: center;
			opacity: 0.8;
			& label {
				opacity: 0.66;
				font-size: 0.8em;
				padding-right: 0.2em;
			}
		}
	}
	& .item-panel_manifest_wrapper {
		padding: 0 var(--padding-edge) 5rem var(--padding-edge);
		& label {
			opacity: 0.66;
			font-size: 0.8em;
			padding-right: 0.2em;
		}
		& span {
			font-size: 0.9em;
		}
		& .dbItemPanel_json {
			width: 100%;
			font-size: 0.7em;
			line-break: anywhere;
			overflow-x: auto;
			overflow-y: auto;
			font-family: monospace;
			tab-size: 1em;
			white-space: pre-wrap;
			word-break: keep-all;
			position: relative;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	& header.dbItemPanel_header {
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		width: 100%;
		box-shadow: 0 1rem 1rem rgba(0,0,0,0.25);
		background-color: rgba(0,0,0,0.15);
		& .item-img {
			--length: 9em;
			min-width: var(--length);
			min-height: var(--length);
			background-color: rgba(0,0,0,0.66);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		& h2 {
			font-size: 1.25em;
			padding-top: 1rem;
		}
		& h3 {
			font-size: 0.8em;
			font-weight: normal;
			font-style: italic;
			opacity: 0.75;
			padding-right: 0.5em;
		}
		& .dbItemPanel_titles {
			--rarity: var(--rarity-common);
			--border: 0.2rem solid var(--rarity-common);
			width: 100%;
			padding-left: 1em;
			border-left: var(--border);
			transition: border-color var(--time-state) linear;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				display: block;
				pointer-events: none;
				background: linear-gradient(175deg, var(--rarity), rgba(0,0,0,0) 40%);
				mask: var(--noise), linear-gradient(175deg, #000 10%, transparent 35%);
			}
			&.legendary {
				--rarity: var(--rarity-legendary);
				border-left: 0.2rem solid var(--rarity);
			}
			&.epic {
				--rarity: var(--rarity-epic);
				border-left: 0.2rem solid var(--rarity-epic);
			}
			&.rare {
				--rarity: var(--rarity-rare);
				border-left: 0.2rem solid var(--rarity-rare);
			}
		}
		& .favorite {
			--length: 2rem;
			height: var(--length);
			width: var(--length);
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			&:hover {
				color: #fff;
				background-color: transparent;
			}
			&::before {
				border-width: 0;
			}
		}
	}
	& .parentSocket {
		background-color: hsla(var(--theme-interact-hsl), 0.1);
		padding: 0 0.2em;
		margin: 0 0.2em;
		border-radius: var(--theme-border-radius);
	}
	& .page-list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		margin-left: var(--padding-edge);
	}
	& .related-items_wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 var(--padding-edge) 5rem var(--padding-edge);
		& .related-items_list {
			list-style-type: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;
		}
		& .related-items_show-more_wrapper {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
}

@media(max-width: 500px) {
	.dbItemPanel_wrapper {
		min-height: 100vh;
		height: 100%;
		overflow: visible;
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&::before {
			display: none;
		}
		& header {
			margin-bottom: 1em;
			display: flex;
			flex-direction: column;
			& .item-img {
				--length: var(--panelMaxWidth);
			}
			& .dbItemPanel_titles {
				padding-left: 0.5em;
				padding-top: 1.5rem;
			}
		}
		& .dbItemPanel_path a {
			display: none;
		}
		& .dbItemPanel_json {
			overflow-x: initial;
			overflow-y: initial;
		}
		& .related-items_wrapper {
			& button.dbItemIcon {
				--lengthMax: 30vw;
			}
		}
	}
}

@media(max-height: 500px) {
	.dbItemPanel_wrapper {
		--panelMaxWidth: 80vh;
		min-height: 100vh;
		height: 100%;
		overflow: visible;
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&::before {
			display: none;
		}
		& header {
			margin-bottom: 1em;
			display: flex;
			flex-direction: column;
			& .item-img {
				--length: var(--panelMaxWidth);
			}
			& .dbItemPanel_titles {
				padding-left: 0.5em;
			}
		}
		& .dbItemPanel_path a {
			display: none;
		}
		& .dbItemPanel_json {
			overflow-x: initial;
			overflow-y: initial;
		}
	}
}