button.dbItemIcon {
	--length: 10rem;
	--lengthMax: 39vw;
	width: var(--length);
	height: var(--length);
	max-width: var(--lengthMax);
	max-height: var(--lengthMax);
	margin: 0.8em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(0,0,0,0.25);
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0.2rem #000;
	animation: fade-in var(--time-state) linear;
	position: relative;
	&.ArmorVisor {
		background-size: 130%;
		background-position: center 60%;
	}
	&::before {
		display: block;
		content: "";
		--padding: -0.5em;
		top: var(--padding);
		left: var(--padding);
		right: var(--padding);
		bottom: var(--padding);
		border-radius: var(--theme-border-radius);
		position: absolute;
		border-width: 0.18em;
		border-style: solid;
		border-image: linear-gradient(
			to bottom,
			hsla(var(--theme-interact-hsl), 1),
			hsla(var(--theme-interact-hsl), 1) 7%,
			hsla(var(--theme-interact-hsl), 0) 8%,
			hsla(var(--theme-interact-hsl), 0) 12%,
			hsla(var(--theme-interact-hsl), 0.25) 13%,
			hsla(var(--theme-interact-hsl), 0.25) 87%,
			hsla(var(--theme-interact-hsl), 0) 88%,
			hsla(var(--theme-interact-hsl), 0) 92%,
			var(--rarity) 93%,
			var(--rarity)
		) 1 100%;
		border-image-slice: 1;
		opacity: 0.4;
		transition: opacity var(--time-state) linear,
			border-width var(--time-active) linear;
	}
	&::after {
		display: block;
		content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	}
	&>span {
		width: 100%;
		opacity: 1;
		transition: opacity var(--time-active) linear;
		font-size: 0.9em;
		margin-bottom: 0.25em;
	}
	&:hover {
    background-color: rgba(255,255,255,1);
		color: #000;
		text-shadow: 0 0 1rem #fff, 0 0 0.5rem #fff;
		&::before {
			border-width: 0.25em;
		}
	}
	&:hover>span {
		opacity: 1;
	}
	&:hover::before, &:focus::before {
		opacity: 1;
	}
	&.invert-hover:hover {
		filter: invert(1);
		background-color: #000;
		color: #fff;
		text-shadow: 0 0 1rem #000, 0 0 0.5rem #000;
		&::before {
			filter: invert(1);
		}
	}
	& .item-type-icon {
		position: absolute;
		--typeLength: 2.3rem;
		width: var(--typeLength);
		height: var(--typeLength);
		top: -0.1rem;
		right: 0.5rem;
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden;
		border-radius: 0.1rem;
		&.WeaponCoating {
			transform: rotate(-30deg);
			background-color: rgb(128,128,128);
		}
		&.ArmorCoating {
			top: 0.3rem;
			right: 0.1rem;
			--typeLength: 1.7rem;
		}
	}
	& .season-icon {
		--seasonLength: 1rem;
		width: var(--seasonLength);
		height: var(--seasonLength);
		position: absolute;
		top: 0.2rem;
		left: 0.2rem;
		opacity: 1;
		background-color: #808080;
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

@media(max-width: 400px) {
	button.dbItemIcon {
		margin: 0.7rem;
	}
}

.dbItemPanel_clickout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	animation: fade-in var(--time-active) linear;
}

.dbItemPanel_wrapper {
	display: flex;
	position: fixed;
	height: 100vh;
	--panelMaxWidth: 80vw;
	max-width: var(--panelMaxWidth);
	width: 50em;
	right: 0;
	top: 0;
	background-color: #141c27;
	flex-direction: column;
	overflow: hidden;
	box-shadow: -1rem 0 1rem #000;
	animation: slide-in-right var(--time-active) linear;
	z-index: 99;
	&::before {
    content: "";
    position: absolute;
    top: 0;
		left: 0;
    right: 0;
		bottom: 0;
		z-index: -1;
    display: block;
		pointer-events: none;
		background: radial-gradient(circle at 0%, transparent 20%, #0f161f 60%);
		mask: var(--noise), radial-gradient(circle at 0%, transparent 30%, #000 75%);
	}
	&::after {
		content: "";
		position: fixed;
		height: 5em;
		width: 100%;
		bottom: 0;
		z-index: 1;
		display: block;
		pointer-events: none;
		background: linear-gradient(transparent, #0f161f 60%);
		mask: var(--noise), linear-gradient(transparent, #000 80%);
	}
	& .item-info_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: left;
		padding: 0 1em;
		margin-bottom: 1em;
		& .attribute {
			font-size: 0.8em;
			font-weight: normal;
		}
		& .item-badges {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;
			align-items: center;
			font-size: 0.9em;
			gap: 1em;
			margin-bottom: 0.5em;
			& .badge {
				display: flex;
				flex-direction: row;
				justify-content: left;
				align-items: center;
				gap: 0.25em;
				& .badge-icon {
					--length: 1.5em;
					min-width: var(--length);
					min-height: var(--length);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					opacity: 0.5;
				}
				& .badge-svg {
					--length: 1.5em;
					--path: attr(data-icon);
					width: var(--length);
					height: var(--length);
					/* background-color: #fff; */
					/* mask: url("assets/icons.svg#close-x"); */
					opacity: 0.5;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
				}
			}
		}
	}
	& .modified-info_wrapper {
		display: flex;
		flex-direction: row;
		justify-content: right;
		align-items: center;
		padding: 0 1rem;
		opacity: 0.8;
		& label {
			opacity: 0.66;
			font-size: 0.8em;
			padding-right: 0.2em;
		}
	}
	& .json-info_wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1em;
		padding: 0 0.5em;
		& .dbItemPanel_path {
			padding-bottom: 0.5em;
			font-weight: normal;
			font-style: italic;
			display: flex;
			flex-direction: row;
			align-items: center;
			& a {
				opacity: 0.5;
				font-size: 0.7em;
			}
			& .icon-masked {
				font-size: 1.25em;
				padding: 0;
				margin: 0;
				margin-right: 0.25em;
			}
		}
	}
	& .dbItemPanel_json {
		width: 100%;
		font-size: 0.7em;
		line-break: anywhere;
		overflow-x: auto;
		overflow-y: auto;
		padding: 0 1rem 5rem 1em;
		font-family: monospace;
		tab-size: 1em;
		white-space: pre-wrap;
		word-break: keep-all;
		position: relative;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	& header {
		margin-bottom: 1em;
		display: flex;
		flex-direction: row;
		width: 100%;
		box-shadow: 0 1rem 1rem rgba(0,0,0,0.25);
		background-color: rgba(0,0,0,0.15);
		& .item-img {
			--length: 9em;
			min-width: var(--length);
			min-height: var(--length);
			background-color: rgba(0,0,0,0.66);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		& h2 {
			font-size: 1.25em;
			padding-top: 1rem;
		}
		& h3 {
			font-size: 0.8em;
			font-weight: normal;
			font-style: italic;
			opacity: 0.75;
			padding-right: 0.5em;
		}
		& .dbItemPanel_titles {
			--rarity: var(--rarity-common);
			--border: 0.2rem solid var(--rarity-common);
			width: 100%;
			padding-left: 1em;
			border-left: var(--border);
			transition: border-color var(--time-state) linear;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				display: block;
				pointer-events: none;
				background: linear-gradient(175deg, var(--rarity), rgba(0,0,0,0) 40%);
				mask: var(--noise), linear-gradient(175deg, #000 10%, transparent 35%);
			}
			&.legendary {
				--rarity: var(--rarity-legendary);
				border-left: 0.2rem solid var(--rarity);
			}
			&.epic {
				--rarity: var(--rarity-epic);
				border-left: 0.2rem solid var(--rarity-epic);
			}
			&.rare {
				--rarity: var(--rarity-rare);
				border-left: 0.2rem solid var(--rarity-rare);
			}
		}
		& .favorite {
			--length: 2rem;
			height: var(--length);
			width: var(--length);
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			&:hover {
				color: #fff;
				background-color: transparent;
			}
			&::before {
				border-width: 0;
			}
		}
	}
	& .parentSocket {
		background-color: hsla(var(--theme-interact-hsl), 0.1);
		padding: 0 0.2em;
		margin: 0 0.2em;
		border-radius: var(--theme-border-radius);
	}
}

@media(max-width: 400px) {
	.dbItemPanel_wrapper {
		min-height: 100vh;
		height: 100%;
		overflow: visible;
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&::before {
			display: none;
		}
		& header {
			margin-bottom: 1em;
			display: flex;
			flex-direction: column;
			& .item-img {
				--length: var(--panelMaxWidth);
			}
			& .dbItemPanel_titles {
				padding-left: 0.5em;
			}
		}
		& .dbItemPanel_path a {
			display: none;
		}
		& .dbItemPanel_json {
			overflow-x: initial;
			overflow-y: initial;
		}
	}
}