button.dbItemIcon {
	--length: 10rem;
	--lengthMax: 39vw;
	width: var(--length);
	height: var(--length);
	max-width: var(--lengthMax);
	max-height: var(--lengthMax);
	margin: 0.8em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(0,0,0,0.25);
	font-weight: bold;
	text-shadow: -0.1rem 0.1rem 0.1rem #000, 0.1rem 0.1rem 0.1rem #000;
	/* animation: fade-in var(--time-state) linear; */
	position: relative;
	&.ArmorVisor {
		background-size: 130%;
		background-position: center 60%;
	}
	&.Offering {
		background-size: cover;
	}
	&::before {
		display: block;
		content: "";
		--padding: -0.5em;
		top: var(--padding);
		left: var(--padding);
		right: var(--padding);
		bottom: var(--padding);
		border-radius: var(--theme-border-radius);
		position: absolute;
		border-width: 0.18em;
		border-style: solid;
		border-image: linear-gradient(
			to bottom,
			hsla(var(--theme-interact-hsl), 1),
			hsla(var(--theme-interact-hsl), 1) 7%,
			hsla(var(--theme-interact-hsl), 0) 8%,
			hsla(var(--theme-interact-hsl), 0) 12%,
			hsla(var(--theme-interact-hsl), 0.25) 13%,
			hsla(var(--theme-interact-hsl), 0.25) 87%,
			hsla(var(--theme-interact-hsl), 0) 88%,
			hsla(var(--theme-interact-hsl), 0) 92%,
			var(--rarity) 93%,
			var(--rarity)
		) 1 100%;
		border-image-slice: 1;
		opacity: 0.4;
		transition: opacity var(--time-state) linear,
			border-width var(--time-active) linear;
	}
	&::after {
		display: block;
		content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	}
	&.selected::before {
		border-image: linear-gradient(
			to bottom,
			hsla(var(--theme-interact-hsl), 1),
			hsla(var(--theme-interact-hsl), 1) 87%,
			hsla(var(--theme-interact-hsl), 0) 88%,
			hsla(var(--theme-interact-hsl), 0) 92%,
			var(--rarity) 93%,
			var(--rarity)
		) 1 100%;
		border-image-slice: 1;
		opacity: 1;
	}
	&>span {
		width: 100%;
		opacity: 1;
		transition: opacity var(--time-active) linear;
		font-size: 0.9em;
		margin-bottom: 0.7rem;
		word-wrap: break-word;
	}
	&:hover {
    background-color: rgba(255,255,255,1);
		color: #000;
		text-shadow: 0 0 1rem #fff, 0 0 0.5rem #fff;
		&::before {
			border-width: 0.25em;
		}
	}
	&:hover>span {
		opacity: 1;
	}
	&:hover::before, &:focus::before {
		opacity: 1;
	}
	&.invert-hover:hover {
		filter: invert(1);
		background-color: #000;
		color: #fff;
		text-shadow: 0 0 1rem #000, 0 0 0.5rem #000;
		&::before {
			filter: invert(1);
		}
	}
	& .item-type-icon {
		position: absolute;
		--typeLength: 2.3rem;
		width: var(--typeLength);
		height: var(--typeLength);
		top: -0.1rem;
		right: 0.5rem;
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		overflow: hidden;
		border-radius: 0.1rem;
		&.WeaponCoating {
			transform: rotate(-30deg);
			background-color: rgb(128,128,128);
		}
		&.VehicleCoating {
			background-color: rgb(128,128,128);
		}
		&.ArmorCoating {
			top: 0.7rem;
			right: 0.4rem;
			--typeLength: 1.5rem;
		}
		&.emblem {
			top: 0.2rem;
			right: 0.2rem;
			--typeLength: 1.2rem;
		}
	}
	& .season-icon {
		--seasonLength: 1em;
		width: var(--seasonLength);
		height: var(--seasonLength);
		position: absolute;
		bottom: 0.2rem;
		left: 0.2rem;
		opacity: 1;
		background-color: #808080;
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		&[data-season="2"] {
			background-color: var(--rarity-event);
		}
	}
	& .dbItem-coating-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 33%;
		height: 33%;
		background-size: contain;
		background-repeat: no-repeat;
		pointer-events: none;
	}
}

@media(max-width: 400px) {
	button.dbItemIcon {
		margin: 0.7rem;
	}
}