.core-viewer_wrapper {
	& .core-viewer_nav ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: rgba(0,0,0,0.25);
		padding: 0 1rem 0.25em;
	}
	& .cores-list_nav ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-color: rgba(0,0,0,0.15);
		padding: 0 1rem 0.25em;
	}
	& nav button {
		margin-top: 0;
		border-top: 0.2em solid transparent;
		&.active {
			border-top: 0.2em solid hsla(var(--theme-interact-hsl), 0.5);
			border-radius: 0 0 var(--theme-border-radius) var(--theme-border-radius);
			&:hover {
				background-color: hsla(var(--theme-interact-hsl), 0.1);
				color: var(--theme-text);
			}
		}
	}
	& .core-placeholder {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		align-content: center;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
		text-transform: uppercase;
		min-height: 8rem;
	}
}

.core_wrapper {
	& .core-socket-placeholder {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		align-content: center;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
	}
	& .core-socket-list {
		animation: fade-in var(--time-active) linear;
		& button {
			font-size: 1em;
			width: 9.5em;
			max-width: 30vw;
			&::before {
				border-width: 0;
			}
			&.active {
				background-color: hsla(var(--theme-interact-hsl), 0.1);
				&:hover {
					background-color: hsla(var(--theme-interact-hsl), 1);
				}
			}
			& span {
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				white-space: nowrap;
			}
		}
		& .core-socket-title {
			opacity: 0.66;
		}
	}
	& .core-sockets_wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		& .socket-items {
			width: 100%;
			list-style-type: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: left;
		}
	}
}

@media(max-width: 580px) {
	.socket-items {
		justify-content: center !important;
	}
}