.vanity_wrapper {
	& .mica_header-strip {
		justify-content: left !important;
	}
	& .vanity-search_input {
		padding: 0.5em;
		margin: 0 0.25rem;
		border: 0;
		background-color: transparent;
		max-width: 100%;
		color: var(--theme-text);
		font-size: 1.25em;
		flex-grow: 2;
	}
	& .vanity-placeholder {
		display: flex;
		width: 100%;
		height: 10rem;
		height: 50vh;
		justify-content: center;
		align-items: center;
		align-content: center;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
		padding: 1rem;
		text-align: center;
	}
}

.vanity_feats_wrapper {
	--content-pad: 0.5rem;
	& .mica_header-strip {
		& h2 {
			font-size: 1.3rem;
			font-weight: normal;
		}
		& .beta {
			font-size: 0.8rem;
			opacity: 0.5;
			margin-left: 0.5rem;
		}
	}
	& .feats_header {
		font-size: 1.1rem;
		margin-left: var(--content-pad);
	}
	& .feats_list {
		margin-left: var(--content-pad);
		& .feats_feat {
			margin-left: var(--content-pad);
			margin-bottom: 2rem;
			& .feat_feat-type {
				font-size: 1.1rem;
				opacity: 0.8;
				margin: 0.5rem 0;
				text-transform: uppercase;
			}
		}
	}
	& .feat_reward-link {
		display: inline-block;
		background-color: hsla(var(--theme-interact-hsl), 0.1);
		padding: 0.2em 0.4em;
		margin: 0.2em;
		border-radius: var(--theme-border-radius);
		color: var(--theme-text);
	}
}