.calendar_wrapper {
	& .header-notice {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 0.8em;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
	}
	& .calendar-placeholder {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		align-content: center;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
	}
	& .calendar_content {
		display: flex;
		flex-direction: row;
	}
}

.timeline_wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	& .timeline_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding: 0.5em;
		list-style-type: none;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		gap: 0.2rem;
		& .timeline-event {
			position: relative;
			border-radius: var(--theme-border-radius);
			overflow: hidden;
			& .event-bg {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center 35%;
				opacity: 0.33;
				transition: opacity var(--time-active) linear;
				border: 0.15rem solid var(--rarity-epic);
				pointer-events: none;
				user-select: none;
				&.past {
					filter: grayscale(80%);
					opacity: 0.15;
				}
			}
			&:hover .event-bg {
				opacity: 0.5;
			}
			&.active {
				& .event-bg {
					opacity: 0.8;
					border: 0.15rem solid var(--rarity-event);
				}
				&:hover .event-bg {
					opacity: 1;
				}
			}
			&.operation .event-bg {
				border: 0.15rem solid var(--rarity-legendary);
			}
			& button {
				--length: 10rem;
				--lengthMax: 39vw;
				display: flex;
				position: relative;
				flex-direction: column;
				flex-wrap: wrap;
				background-color: rgba(0,0,0,0.25);
				padding: 0.75em;
				margin: 0;
				font-size: 1em;
				height: var(--length);
				width: var(--length);
				max-width: var(--lengthMax);
				max-height: var(--lengthMax);
				justify-content: space-between;
				align-items: flex-start;
				align-content: flex-start;
				text-shadow: 0.1rem 0.1rem 0.2rem #000, 0.1rem 0.1rem 0.2rem #000;
				text-align: left;
				&:hover {
					color: currentColor;
				}
				& .upcoming {
					opacity: 0.5;
				}
			}
		}
	}
	& .timeline_list.rituals {
		flex-grow: 2;
	}
	& .timeline_list.operations {
		width: 10rem;
		& button {
			height: 20.2rem;
			max-height: 20.2rem;
			width: 10rem;
		}
	}
}

@media(max-width: 580px) {
	.timeline_wrapper {
		flex-direction: column;
		& .timeline_list.operations button {
			max-height: var(--lengthMax);
		}
	}
}

.reward-track_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	& ul {
		list-style-type: none;
	}
	& header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	& .dates-list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		/* visibility: collapse; */
		& li:not(.event-header) {
			background-color: red;
			background-color: rgba(0,0,0,0.25);
			padding: 0.5em;
			margin: 0.2em;
			border-radius: var(--theme-border-radius);
			font-size: 0.8em;
		}
	}
	& .reward-list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0.5em;
		& .rank_rewards {
			display: flex;
			flex-direction: row;
			position: relative;
			padding-bottom: 2em;
			animation: fade-in var(--time-state) linear;
			&:hover .rank_number {
				background-color: hsla(var(--theme-interact-hsl), 0.25);
			}
			& .rank_number {
				display: flex;
				justify-content: left;
				padding-left: 0.5em;
				align-items: center;
				position: absolute;
				background-color: hsla(var(--theme-interact-hsl), 0.1);
				bottom: 0.8em;
				left: 0.5em;
				right: 0.5em;
				height: 1.2em;
				font-size: 0.9em;
				border-radius: var(--theme-border-radius);
				text-align: center;
				user-select: none;
				point-events: none;
				transition: background-color var(--time-active) linear;
			}
			& .rank_reward-items li {
				position: relative;
				&::before {
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					font-size: 0.8em;
					bottom: -2.5em;
					height: 1em;
					width: 3rem;
					left: calc(50% - 1.5rem);
					padding: 0 0.2rem;
					margin: 0.1rem;
					user-select: none;
					point-events: none;
					opacity: 0.8;
				}
			}
			& .rank_reward-items.free li::before {
				content: "FREE";
			}
			& .rank_reward-items.paid li::before {
				content: "PAID";
			}
			& .currency::after {
				content: "×" attr(data-quantity);
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				font-size: 0.8em;
				bottom: -2.5em;
				height: 1em;
				width: 3rem;
				right: 0;
				padding: 0 0.2rem;
				margin: 0.1rem;
				user-select: none;
				point-events: none;
				opacity: 0.8;
			}
		}
	}
}

@media(max-width: 580px) {
	.reward-list {
		justify-content: center !important;
	}
}

.capstone-calendar_wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	--padding: 0.5rem;
	padding: var(--padding);
	& .calendar-item {
		position: relative;
		border-radius: var(--theme-border-radius);
		padding: 0.2em;
		margin-bottom: 1rem;
		transition: background-color var(--time-active) linear;
		&:hover {
			background-color: hsla(var(--theme-interact-hsl), 0.05);
		}
		&.active {
			& .date {
				color: var(--rarity-event);
			}
			& .ritual-icon {
				content: "";
				display: inline-block;
				width: 1em;
				height: 1em;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				pointer-events: none;
				/* background-color: var(--rarity-event); */
				/* background-image: url("/db/images/progression/storecontent/flairicons/ritualiconflair.png"); */
			}
		}
		&.past {
			filter: grayscale(50%);
			opacity: 0.8;
			& a {
				text-decoration: line-through;
			}
		}
		& .challenge-link {
			display: inline-block;
			padding: 0.2em 0.4em;
			margin: 0.2em;
			border-radius: var(--theme-border-radius);
			color: var(--theme-text);
			text-decoration: none;
			width: 100%;
			text-align: center;
			position: relative;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}