.inventory_wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(0,0,0,0.15);
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.25);
	margin-bottom: 2em;
	& header {
		background-color: rgba(0,0,0,0.25);
		padding: 1em;
	}
	& .inventory_content {
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		width: 100%;
	}
	& .inventory-catergories {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		max-height: 100%;
		scrollbar-width: none;
		padding: 1em;
		background-color: rgba(0,0,0,0.15);
		&::-webkit-scrollbar {
			display: none;
		}
		& button {
			display: flex;
			width: 9.5em;
			overflow: hidden;
			white-space: nowrap;
			font-size: 0.9em;
			&.active {
				background-color: hsla(var(--theme-interact-hsl), 0.1);
				&:hover {
					background-color: hsla(var(--theme-interact-hsl), 1);
				}
			}
			&::before {
				border-width: 0;
			}
			& span {
				overflow: hidden;
				word-wrap: break-word;
				overflow-wrap: break-word;
				text-overflow: ellipsis;
			}
		}
	}
	& .inventory-category_wrapper {
		padding: 0.5em;
	}
	& .inv-category-placeholder {
		display: flex;
		width: 100%;
		justify-content: center;
		align-content: center;
		margin-top: 8em;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
	}
	& .inventory-category_items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		padding: 0.5em;
	}
	& ul {
		list-style-type: none;
	}
}