.inventory_wrapper {
	& .inventory-category_wrapper {
		width: 100%;
	}
	& .inv-category-placeholder {
		display: flex;
		width: 100%;
		justify-content: center;
		align-content: center;
		margin-top: 8em;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
	}
	& .inventory-category_items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		padding: 0.5em;
	}
	& ul {
		list-style-type: none;
	}
	& header.h-favorites {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	& .favorites-placeholder {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.3rem;
		width: 100%;
		height: 7rem;
		opacity: 0.66;
		pointer-events: none;
		user-select: none;
		& .favorite {
			display: block;
			--length: 1.25rem;
			height: var(--length);
			width: var(--length);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			margin-bottom: 0.15rem;
		}
	}
	& .inventory-search_info {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	& .inventory-search_wrapper {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		& .inventory-search-filter_wrapper {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			align-content: center;
			justify-content: left;
			width: 60%;
			& .inventory-search-filters {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				align-content: center;
				justify-content: left;
				flex-wrap: wrap;
				& .filter-input_wrapper {
					margin: 0 0.1rem;
					margin-top: 0.5em;
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: left;
					align-content: center;
					justify-content: center;
					& label {
						font-size: 0.9rem;
						opacity: 0.66;
						cursor: pointer;
					}
					& input {
						background: none;
						background-color: rgba(0,0,0,0.15);
						padding: 0.2rem;
						margin: 0.1rem 0;
						color: currentColor;
						border: none;
						font-size: 1em;
					}
				}
			}
		}
		& .inventory-search-bar_wrapper {
			margin-top: 0.5rem;
			width: 60%;
			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
			justify-content: center;
			position: relative;
			border: 0;
			border-bottom: 0.2rem solid hsla(var(--theme-text-hsl), 0.25);
			background-color: rgba(0,0,0,0.15);
			& .inventory-search_input {
				padding: 0.5em;
				margin: 0 0.25rem;
				border: 0;
				background-color: transparent;
				width: 100%;
				color: var(--theme-text);
				font-size: 1.25em;
			}
			& .inventory-search_submit {
				font-size: 1.25em;
				padding: 0.5em;
			}
			& .inventory-search_suggestions {
				opacity: 0;
				pointer-events: none;
				display: none;
			}
			&:focus-within .inventory-search_suggestions {
				opacity: 1;
				pointer-events: initial;
				display: flex;
				flex-direction: column;
				justify-content: left;
				width: 100%;
				padding: 0.5em;
				margin: 0 0.25rem;
				background: black;
				position: absolute;
				bottom: 100%;
				background-color: var(--bg0);
				animation: fade-in var(--time-active) linear;
				& button {
					width: 100%;
				}
			}
		}
	}
	& .page-controls_wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		justify-content: center;
		& span {
			width: 4rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
			justify-content: center;
			pointer-events: none;
			user-select: none;
		}
	}
}

@media(max-width: 580px) {
	.inventory_wrapper {
		& .inventory-search-bar_wrapper, & .inventory-search-filter_wrapper {
			width: 100% !important;
		}
	}
	.inventory-category_items {
		justify-content: center !important;
	}
}

.favorites-man_wrapper {
	display: flex;
	flex-direction: column;
	& textarea {
		color: #000;
	}
}